@{
    ViewData["Title"] = "Token e Refresh Token gerados pelo Identity Server";
}
<h1>@ViewData["Title"]</h1>

<p><b>Token:</b> @ViewBag.Token</p>
<p><b>Refresh Token:</b> @ViewBag.Refresh_Token</p>
